<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Zootopia!</title>
</head>
<body>
    <h1>Welcome to our Zoo!</h1>
    <h3>Animals:</h3>
    <% for(var q in animals){%>
    <p>
        Name: <%= animals[q].name %>
        <br>
        Type: <%= animals[q].type %>
        <br>
        Diet: <%= animals[q].diet %>
        <br>
        <a href="show/<%=animals[q]._id%>">Check me out!</a>
    </p>
    <% } %>

    <a href="/new"><button>Add Animal Here!</button></a>
    

</body>
</html>