<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>QuotingDojo</title>
</head>
<body>
    <h1>Welcome to QuotingDojo</h1>
    <form action="addQuote" method="POST">
        <label>Your Name:</label>
        <input type="text" name="name">
        <label>Your Quote:</label>
        <input type="text" name="quote">
        <br><br>
        <button>Add My quote!</button>
    </form>
    <br>
    <a href="/quotes"><button>Quotes Page!</button></a>
    
    
</body>
</html>