<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quotes Page!</title>
</head>
<body>
    <H1>Welcome to the quotes page!</H1>

    <h3>Quotes:</h3>
    <% for(var q in users){%>
    <p>
        Name: <%= users[q].name %>
        <br>
        Quote: <%= users[q].quote %>
        <br>
        Date: <%= users[q].createdAt %>
    </p>
    <% } %>

    <a href="/"><button>Add Quote!</button></a>
    
</body>
</html>